/* Main styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}


.btn {
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 160px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
}

a {
    text-decoration: none;
}

/* Main styles */ 

main {
    background-color: #F4F3F5;
}

/* Header styles */

.headerMain {
    background-color: #6200EA;
    display: inline-block;
    width: 100vw;
    height: 80px;
    color: white;
}

.btn-subscribe {
    display: inline-block;
    position: relative;
    left: 110px;
    top: 12px;
    padding-top: 12px;
    background-color: white;
    font-size: 12px;
    color: #6200EA;
    font-weight: 700;
    letter-spacing: 2.4px;
}

header p {
    display: inline-block;
    position: relative;
    left: 450px;
    top: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2.4px;

}


/* List styles */

.nav-style {
    background-color: white;
    height: 80px;
    margin: 0;
    padding-top: 30px;
}

ul {
    text-decoration: none;
    display: inline-block;
    word-spacing: 50px;
    position: relative;
    left: 150px;
}

li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.nav-style a {
    color: #211138;
    letter-spacing: 2.4px;
}
/* Images styles */

.imgSmall {
    height: 120px;
    width: 120px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    padding: 0;
}

.imgBlog {
    height: 320px;
    width: 730px;
    display: inline-block;
}


/* Texts and blogs styles */ 


.firstBlogImg {
    background-image: url("/wsc-practice-assets/blog/roberto-nickson-5ui0tfMC5ts-unsplash.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 730px;
    color: white;
    border-radius: 15px;
    padding: 55px;
    line-height: 30px;
}

.firstBlogImg a {
    color: white;
    margin-top: 20px;
    padding-top: 5px;
}


h1 {
    font-size: 40px;
    padding: 20px 0;
}

h3 {
    color: #bbbbbb;
    font-size: 12px;
    font-weight: bold;
}


small {
    letter-spacing: 2.4px;
    font-size: 12px;
}

.postContainer {
    width: 350px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
}

.poststyle {
    width: 350px;
    height: 160px;
    background-color: white;
}

.simplePost {
    height: 350px;
    width: 730px;
    background-color: white;
    border-radius: 15px;
    padding: 55px;
    line-height: 30px;
}

.simplePost a {
    color: #6200EA;
    margin-top: 20px;
    padding-top: 5px;
    font-weight: bold;
}

.postWithImg {
    display: inline-block;
    height: 770px;
    width: 730px;
    background-color: white;
    border-radius: 15px;
    padding: 55px;
    line-height: 30px;
}

/* Footer styles */

footer {
    text-align: center;
    background-color: #211138;
    text-transform: uppercase;
    height: 10vh;
    width: 100vw;
    padding-top: 25px;
    margin: 0;
}

footer p {
    color: white;
    letter-spacing: 2.4px;
    font-size: 12px;
}
